.Store {
  @include page-inner;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.2rem;

    &-item {
      width: 20rem;
      height: 20rem;
      border-radius: 2.4rem;
      overflow: hidden;
      position: relative;
    }
  }

  &__title {
    @include section-title;
    margin-bottom: 2.4rem;
  }
}