.Footer {
  width: 100vw;
  height: $footer-height;
  background: $white;

  &__inner {
    @include inner;
    @include flex(space-between, center);
    height: 100%;
    padding: 3.2rem 0;

    @media (max-width: $tablet) {
      justify-content: center;
      flex-direction: column;
      gap: 0.4rem;
    }
  }

  &__title {
    @include body_bold;
    color: $text_02;
  }

  &__copy {
    @include body_regular;
    color: $text_02;
  }
}