.Header {
  $Header: &;
  width: 100vw;
  height: $header-height;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.08);

  &__inner {
    @include inner;
    @include flex(space-between, stretch);
    height: 100%;
  }

  &__title {
    @include h2_bold;
    @include poppins;
    height: 100%;

    a {
      @include flex(center, center);
      height: 100%;
    }

    &-text {
      @include sound_only;
    }
  }

  &__logo {
    width: 22.8rem;

    @media(max-width: $mobile) {
      display: none;
    }

    &--mb {
      display: none;
      width: 4rem;

      @media(max-width: $mobile) {
        display: block;
      }
    }

    * {
      transition: $transition;
    }


    &:hover {
      path {
        fill: $pink_01;
      }

      rect {
        stroke: $pink_01;
      }
    }
  }

  &__menu {
    &-list {
      @include flex(flex-start, stretch, 0.8rem);
      height: 100%;

      @media (max-width: $tablet) {
        gap: 0;
        transform: translateX(1.6rem);
      }

    }

    &-item {
      @include body_medium;
      @include poppins;
      color: $text_04;
      position: relative;
      transition: color $transition;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0.2rem;
        transition: $transition;
        background: $orange_01;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover {
        color: $orange_01;

        &::after {
          width: 100%;
        }
      }

      a {
        @include flex(center, center);
        height: 100%;
        padding: 1.6rem 2.4rem;

        @media (max-width: $tablet) {
          padding: 1.6rem 2rem;
        }
      }
    }

    &-icon {
      width: 3rem;
      display: none;

      path {
        stroke: $text_03;
      }

      @media(max-width: $tablet) {
        display: block;
      }
    }

    &-text {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

}