$white: #fff;

// PARAM color
$text_01: #ddd;
$text_02: #888;
$text_03: #666;
$text_04: #333;
$text_05: #222;

// PARAM bg
$bg_01: #fcfcfc;
$bg_02: #fafafa;
$bg_03: #f7f7f7;
$bg_04: #f4f4f4;

// PARAM border
$border_01: #eee;
$border_02: #dedede;

$orange_01: #FF7C33;
$orange_02: #FFAA7A;

$pink_01: #FF3E9A;